
.card-title{
    color: rgba(0, 0,0, 0.5);
   display:flex;
   justify-content:right;
   text-transform: uppercase;
   margin-top: px;
   padding: 10px 200px;
   font-size: 250px;
   font-weight: 1000;
   background-image: url(../images/panel3.jpg);
   background-size: cover;
   background-position-y: center;
   background-clip: text;
   -webkit-background-clip: text;
}

@media (max-width: 475.98px) {
    #card-title{
        display: none;
    }
}