body {
  margin: 0;
  background-image: url(../recursos/desktop-1920x1080.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
video {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1;
}
